@use "sass:map";

@use "../design-tokens/type-family.scss" as types;
@use "@carbon/type/scss/font-family" with (
  $font-families: types.$type-family,
  $font-weights: types.$font-weights
);

@use "@carbon/themes/scss/utilities";
@use "../design-tokens/variables.scss" as variables;
@use "../design-tokens/light-theme.scss" as light;
@use "../design-tokens/dark-theme.scss" as dark;

@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme" with (
  $fallback: themes.$white,
  $theme: light.$light-theme
);

@use "@carbon/react/scss/components/button/tokens" as button-tokens;
@use "../design-tokens/light-buttons.scss" as light-button-overrides;
@use "../design-tokens/dark-buttons.scss" as dark-button-overrides;

@use "@carbon/react/scss/components/tag/tokens" as tag-tokens;
@use "../design-tokens/light-tags.scss" as light-tag-overrides;
@use "../design-tokens/dark-tags.scss" as dark-tag-overrides;

@use "@carbon/react/scss/components/notification/tokens" as notification-tokens;
@use "../design-tokens/light-notifications.scss" as light-notification-overrides;
@use "../design-tokens/dark-notifications.scss" as dark-notification-overrides;

@use "@carbon/react";
@use "@carbon/styles/scss/grid";

@include grid.flex-grid();

:root {
  @include theme.theme();
}

.#{variables.$default-prefix}--g100 {
  $button-tokens: utilities.merge(
    button-tokens.$button-tokens,
    dark-button-overrides.$dark-button-token-overrides
  );
  $tag-tokens: utilities.merge(
    tag-tokens.$tag-tokens,
    dark-tag-overrides.$dark-tag-token-overrides
  );
  $notification-tokens: utilities.merge(
    notification-tokens.$notification-tokens,
    dark-notification-overrides.$dark-notification-token-overrides
  );

  @include theme.add-component-tokens($button-tokens);
  @include theme.add-component-tokens($tag-tokens);
  @include theme.add-component-tokens($notification-tokens);
  @include react.theme(dark.$dark-theme);
}

.#{variables.$default-prefix}--g10 {
  $button-tokens: utilities.merge(
    button-tokens.$button-tokens,
    light-button-overrides.$light-button-token-overrides
  );
  $tag-tokens: utilities.merge(
    tag-tokens.$tag-tokens,
    light-tag-overrides.$light-tag-token-overrides
  );

  $notification-tokens: utilities.merge(
    notification-tokens.$notification-tokens,
    light-notification-overrides.$light-notification-token-overrides
  );

  @include theme.add-component-tokens($button-tokens);
  @include theme.add-component-tokens($tag-tokens);
  @include theme.add-component-tokens($notification-tokens);
  @include react.theme(light.$light-theme);
}

/* --------------------- Buttons --------------------- 
- Border-radius: 4px all corners         
---------------------------------------------------- */
.#{variables.$default-prefix}--btn {
  border-radius: 0.25rem;
}

/* ------- Text Input / Text Area / Password Input -------
- Border-radius: 4px top corners
-------------------------------------------------------- */
.#{variables.$default-prefix}--text-input,
.#{variables.$default-prefix}--text-area {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* ------------------ Number Input ----------------------
- Border-radius: 4px top corners
- Control Button: border-radius 4px all corners
- Update input font family to use code-01
------------------------------------------------------- */
.#{variables.$default-prefix}--number
  .#{variables.$default-prefix}--number__input-wrapper
  input[type="number"] {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-family: var(--#{variables.$default-prefix}-code-01-font-family);
}

.#{variables.$default-prefix}--number__control-btn {
  border-radius: 0.25rem;
}

/* ------------------ Select ---------------------------
- Input field: border-radius 4px top corners
------------------------------------------------------ */
.#{variables.$default-prefix}--select-input {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* ------------------ Dropdown ---------------------------
- Input field (list-box): border-radius 4px top corners
- Dropdown menu: border-radius 4px all corners
--------------------------------------------- */
.#{variables.$default-prefix}--list-box__field,
.#{variables.$default-prefix}--list-box {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.#{variables.$default-prefix}--list-box__menu {
  border-radius: 0.25rem;
}

/* ------------------ Date Picker ---------------------------
- Input field: border-radius 4px top corners
- Calender picker and control buttons: border-radius 4px all corners
--------------------------------------------- */
.#{variables.$default-prefix}--date-picker__input {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.flatpickr-calendar,
.flatpickr-prev-month,
.flatpickr-next-month {
  border-radius: 0.25rem;
}

/* ------------------ Time Picker ---------------------------
- Border-radius: 4px on left top corner and right top corners, no border-radius in the middle
----------------------------------------------------------------- */
.#{variables.$default-prefix}--time-picker__input
  > .#{variables.$default-prefix}--text-input {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
}

.#{variables.$default-prefix}--time-picker__select
  > .#{variables.$default-prefix}--select-input {
  border-radius: 0;
}

.#{variables.$default-prefix}--time-picker
  :last-child
  > .#{variables.$default-prefix}--select-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
}

/* --------------- Search ------------------------------
- Border-radius: 4px top corners
--------------------------------------------- */
.#{variables.$default-prefix}--search-input {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* --------------- Notification ------------------------------
- Border-radius: 4px all corners
- Update border color for inline notification
- Add border for toast notification
--------------------------------------------- */
// Dark mode
.#{variables.$default-prefix}--inline-notification,
.#{variables.$default-prefix}--toast-notification {
  border-radius: 0.25rem;
}

// Light mode
div.#{variables.$default-prefix}--inline-notification--low-contrast::before {
  border-radius: 0 0.25rem 0.25rem 0;
  filter: none;
}

$types: "error", "info", "success", "warning";
@each $notificationType in $types {
  div.#{variables.$default-prefix}--inline-notification--#{$notificationType} {
    border-left: 0.25rem
      solid
      var(--#{variables.$default-prefix}-support-#{$notificationType}-inverse);
  }
  div.#{variables.$default-prefix}--inline-notification--low-contrast.#{variables.$default-prefix}--inline-notification--#{$notificationType} {
    border-left: 0.25rem
      solid
      var(--#{variables.$default-prefix}-support-#{$notificationType});
  }
  div.#{variables.$default-prefix}--inline-notification--low-contrast.#{variables.$default-prefix}--inline-notification--#{$notificationType}::before {
    border-color: var(
      --#{variables.$default-prefix}-notification-border-#{$notificationType}
    );
  }
}

.#{variables.$default-prefix}--toast-notification--low-contrast {
  border-width: 0.063rem 0.063rem 0.063rem 0;
  border-style: solid;
}
@each $notificationType in $types {
  div.#{variables.$default-prefix}--toast-notification--#{$notificationType} {
    border-left: 0.25rem
      solid
      var(--#{variables.$default-prefix}-support-#{$notificationType}-inverse);
  }
  div.#{variables.$default-prefix}--toast-notification--low-contrast.#{variables.$default-prefix}--toast-notification--#{$notificationType} {
    border-left: 0.25rem
      solid
      var(--#{variables.$default-prefix}-support-#{$notificationType});
    border-top-color: var(
      --#{variables.$default-prefix}-notification-border-#{$notificationType}
    );
    border-bottom-color: var(
      --#{variables.$default-prefix}-notification-border-#{$notificationType}
    );
    border-right-color: var(
      --#{variables.$default-prefix}-notification-border-#{$notificationType}
    );
  }
}

/* ----------------- Tile ----------------------------
- Border-radius: 4px all corners
----------------------------------------------------- */
.#{variables.$default-prefix}--tile {
  border-radius: 0.25rem;
}

/* ------------------ Data Table ---------------------------
- Header: border-radius 4px top corners
- Table column header: font-weight bold
- Table row expand button: border-radius 4px all corners
------------------------------------------------------ */
.#{variables.$default-prefix}--data-table-header {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.#{variables.$default-prefix}--table-header-label {
  font-weight: bold;
}

.#{variables.$default-prefix}--table-expand__button {
  border-radius: 0.25rem;
}

/* -------------------- Pagination -------------------------
- Border-radius: 4px bottom corners
- Set height of small (2.5rem), medium (3rem) and large (3.5rem) size
- Set border-radius of the previous and next button, item per page and page select to 4px all corners
--------------------------------------------- */
.#{variables.$default-prefix}--pagination {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.#{variables.$default-prefix}--pagination--sm,
.#{variables.$default-prefix}--pagination--sm
  .#{variables.$default-prefix}--pagination__control-buttons
  .#{variables.$default-prefix}--popover-container {
  height: 2.5rem;
}

.#{variables.$default-prefix}--pagination--md,
.#{variables.$default-prefix}--pagination--md
  .#{variables.$default-prefix}--pagination__control-buttons
  .#{variables.$default-prefix}--popover-container {
  height: 3rem;
}

.#{variables.$default-prefix}--pagination--lg,
.#{variables.$default-prefix}--pagination--lg
  .#{variables.$default-prefix}--pagination__control-buttons
  .#{variables.$default-prefix}--popover-container {
  height: 3.5rem;
}

.#{variables.$default-prefix}--pagination
  .#{variables.$default-prefix}--select__item-count
  .#{variables.$default-prefix}--select-input__wrapper
  select.#{variables.$default-prefix}--select-input,
.#{variables.$default-prefix}--pagination
  .#{variables.$default-prefix}--select__page-number
  .#{variables.$default-prefix}--select-input__wrapper
  select.#{variables.$default-prefix}--select-input {
  border-radius: 0.25rem;
  border: 0;
}

.#{variables.$default-prefix}--pagination
  .#{variables.$default-prefix}--select__item-count
  .#{variables.$default-prefix}--select-input__wrapper,
.#{variables.$default-prefix}--pagination
  .#{variables.$default-prefix}--select__page-number
  .#{variables.$default-prefix}--select-input__wrapper {
  margin: 0.25rem;
}

.#{variables.$default-prefix}--pagination
  .#{variables.$default-prefix}--select__item-count
  .#{variables.$default-prefix}--select-input--inline__wrapper {
  border-right: 0.063rem solid var(--#{variables.$default-prefix}-border-subtle);
}

.#{variables.$default-prefix}--pagination__control-buttons
  .#{variables.$default-prefix}--popover-container {
  border-left: 0.063rem solid var(--#{variables.$default-prefix}-border-subtle);
}

.#{variables.$default-prefix}--pagination__control-buttons
  .#{variables.$default-prefix}--pagination__button {
  margin: 0.25rem;
  border: 0;
}

/* ------------------ Overflow Menu ---------------------------
- Closed trigger button: border-radius 4px on all corners
- Opened trigger button: border-radius 4px top corners
- First menu item: border-radius 4px top corners
- Last menu item: border-radius 4px bottom corners
------------------------------------------------------------- */
.#{variables.$default-prefix}--overflow-menu.bcgov--overflow-menu--open {
  border-radius: 0.25rem 0.25rem 0 0;
}

.#{variables.$default-prefix}--overflow-menu-options {
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}

li.#{variables.$default-prefix}--overflow-menu-options__option:first-child {
  border-radius: 0 0.25rem 0 0;
}

li.#{variables.$default-prefix}--overflow-menu-options__option:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

/* ------------------  Modal ---------------------------
- Border-radius: 8px on all corners
------------------------------------------------------ */
.#{variables.$default-prefix}--modal-container {
  border-radius: 0.5rem;
}

.#{variables.$default-prefix}--modal-close {
  margin-right: 1rem;
  margin-top: 1rem;
}

.#{variables.$default-prefix}--modal-footer {
  height: auto;
  margin: 0 1rem 1rem;
}

.#{variables.$default-prefix}--modal-footer .#{variables.$default-prefix}--btn {
  max-width: none;
  height: 3rem;
  padding-bottom: 1rem;
}

.#{variables.$default-prefix}--modal-footer
  .#{variables.$default-prefix}--btn:not(
    .#{variables.$default-prefix}--btn--primary
  ) {
  margin-right: 0.25rem;
}

#{variables.$default-prefix}-modal::part(dialog) {
  background-color: var(--#{variables.$default-prefix}-layer-01);
  border-radius: 0.5rem;
}

#{variables.$default-prefix}-modal-footer {
  padding: 1rem;
}

/* ------------ Label ---------------
- Update text color from text-secondary to text-primary
This will apply to Checkbox, Data Picker, Dropdown, RadioButton, Select, Slider, Text Input, Password Input, Text Area label
------------------------------- */
label.#{variables.$default-prefix}--label,
legend.#{variables.$default-prefix}--label {
  color: var(--#{variables.$default-prefix}-text-primary);
}

/* ------------------  Left Panel ---------------------------
- List item height: 48px
- Left icons use "link-primary" color
- Add a right border for the panel
------------------------------------------------------ */
.#{variables.$default-prefix}--side-nav__menu
  .#{variables.$default-prefix}--side-nav__menu-item
  a.#{variables.$default-prefix}--side-nav__link,
button.#{variables.$default-prefix}--side-nav__submenu,
.#{variables.$default-prefix}--side-nav__link {
  height: 3rem;
}

div.#{variables.$default-prefix}--side-nav__icon > svg {
  fill: var(--#{variables.$default-prefix}-link-primary);
}

nav.#{variables.$default-prefix}--side-nav {
  border-right: 0.063rem solid var(--#{variables.$default-prefix}-border-subtle);
}

/* ------------------ Header ---------------------------
- Update the background color
- Set the height
- Adjust the side nav position for the new header height
------------------------------------------------------ */
.#{variables.$default-prefix}--header {
  background-color: var(--#{variables.$default-prefix}-background-brand);
  height: 3.5rem;
}

.#{variables.$default-prefix}--header ~ .#{variables.$default-prefix}--side-nav {
  inset-block-start: 3.5rem;
}

a.#{variables.$default-prefix}--header__name {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #f3f3f5;
  padding-left: 2rem;
}
