@use 'sass:map';

@use '../design-tokens/variables.scss' as variables;
@use '../design-tokens/colors.scss' as colors;
@use '../design-tokens/light-theme.scss' as lightTheme;
@use '../design-tokens/light-buttons.scss' as lightButton;
@use '../design-tokens/type-family.scss' as typeFamily;
@use '../design-tokens/body-types.scss' as bodyTypes;

%body-compact-01 {
    font-size: map.get(bodyTypes.$body-compact-01, 'font-size');
    font-weight: map.get(bodyTypes.$body-compact-01, 'font-weight');
    letter-spacing: map.get(bodyTypes.$body-compact-01, 'letter-spacing');
    padding: map.get(bodyTypes.$body-compact-01, 'padding');
}

:root {
    --font-family: map.get(typeFamily.$type-family, 'sans');
}

body {
    font-family: map.get(typeFamily.$type-family, 'sans');
    @extend %body-compact-01;
}

label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color: map.get(lightTheme.$light-theme, 'text-secondary');
}

.#{variables.$primevue-prefix}-component,
.#{variables.$primevue-prefix}-inputtext {
    font-family: map.get(typeFamily.$type-family, 'sans');
}

.#{variables.$primevue-prefix}-inputtext {
    padding: map.get(bodyTypes.$body-compact-01, 'padding');
}

/* ------------------------------------ primevue button --------------------------------- */
.#{variables.$primevue-prefix}-button {
    @extend %body-compact-01;
    border-radius: 4px;
    text-align: left;
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary'
    );
    background-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary'
    );
}
.#{variables.$primevue-prefix}-button:enabled:hover {
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-hover'
    );
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-hover'
    );
}
.#{variables.$primevue-prefix}-button:enabled:active {
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-active'
    );
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-active'
    );
}
.#{variables.$primevue-prefix}-button:disabled {
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-disabled'
    );
    opacity: 1;
    color: map.get(lightTheme.$light-theme, 'text-disabled');
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-primary-disabled'
    );
}
/* ------------------------------------ primevue button outlined--------------------------------- */
.#{variables.$primevue-prefix}-button.#{variables.$primevue-prefix}-button-outlined {
    color: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary'
    );
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary'
    );
}
.#{variables.$primevue-prefix}-button.#{variables.$primevue-prefix}-button-outlined:enabled:hover {
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary-hover'
    );
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary-hover'
    );
    color: map.get(lightTheme.$light-theme, 'text-on-color');
}
.#{variables.$primevue-prefix}-button.#{variables.$primevue-prefix}-button-outlined:enabled:active {
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary-active'
    );
    border-color: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary-active'
    );
    color: map.get(lightTheme.$light-theme, 'text-on-color');
}
.#{variables.$primevue-prefix}-button.#{variables.$primevue-prefix}-button-outlined:focus {
    background: map.get(
        lightButton.$light-button-token-overrides,
        'button-tertiary-active'
    ) !important;
    color: map.get(lightTheme.$light-theme, 'text-on-color');
}
.#{variables.$primevue-prefix}-button.#{variables.$primevue-prefix}-button-outlined:disabled {
    color: map.get(lightTheme.$light-theme, 'text-disabled');
    opacity: 1;
    background-color: transparent;
    border: 1px solid map.get(lightTheme.$light-theme, 'text-disabled');
}

/* ------------------------------------ primevue inputtext ----------------------------------- */
.#{variables.$primevue-prefix}-inputtext {
    border: none;
    border-bottom: 1px solid
        map.get(lightTheme.$light-theme, 'border-strong-01');
    border-radius: 4px 4px 0px 0px;
    background: map.get(lightTheme.$light-theme, 'field-01');
}
.#{variables.$primevue-prefix}-inputtext:enabled:hover {
    border-color: map.get(lightTheme.$light-theme, 'border-strong-01');
}
.#{variables.$primevue-prefix}-inputtext:enabled:focus {
    border-bottom: 1px solid map.get(lightTheme.$light-theme, 'background');
    box-shadow: 0 0 0 0.1rem map.get(lightTheme.$light-theme, 'focus');
}

/* -------------------------------------- primevue dropdown ------------------------------------ */
.#{variables.$primevue-prefix}-dropdown {
    border: none;
    border-bottom: 1px solid
        map.get(lightTheme.$light-theme, 'border-strong-01');
    border-radius: 4px 4px 0px 0px;
    background: map.get(lightTheme.$light-theme, 'field-01');
}
.#{variables.$primevue-prefix}-dropdown
    .#{variables.$primevue-prefix}-dropdown-label {
    @extend %body-compact-01;
}
.#{variables.$primevue-prefix}-dropdown:not(
        .#{variables.$primevue-prefix}-disabled
    ):hover {
    border: none;
    border-bottom: 1px solid
        map.get(lightTheme.$light-theme, 'border-strong-01');
}
.#{variables.$primevue-prefix}-dropdown:not(
        .#{variables.$primevue-prefix}-disabled
    ).#{variables.$primevue-prefix}-focus {
    border-bottom: 1px solid map.get(lightTheme.$light-theme, 'background');
    box-shadow: 0 0 0 0.1rem map.get(lightTheme.$light-theme, 'focus');
}

.#{variables.$primevue-prefix}-dropdown-panel {
    background: map.get(lightTheme.$light-theme, 'layer-01');
    box-shadow: 0px 2px 6px map.get(lightTheme.$light-theme, 'shadows-menu');
    border-radius: 0px 0px 4px 4px;
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items {
    padding: 0px;
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item {
    @extend %body-compact-01;
    border-bottom: 1px solid
        map.get(lightTheme.$light-theme, 'layer-selected-01');
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item:last-child {
    border: none;
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item:not(
        .#{variables.$primevue-prefix}-highlight
    ):not(.#{variables.$primevue-prefix}-disabled):hover {
    background: map.get(lightTheme.$light-theme, 'layer-hover-01');
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item.#{variables.$primevue-prefix}-highlight {
    color: #212529; // default prime vue dropdown item color
    background-color: map.get(lightTheme.$light-theme, 'layer-selected-01');
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item.#{variables.$primevue-prefix}-highlight.#{variables.$primevue-prefix}-focus {
    background-color: map.get(lightTheme.$light-theme, 'layer-selected-01');
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item:not(
        .#{variables.$primevue-prefix}-highlight
    ):not(
        .#{variables.$primevue-prefix}-disabled
    ).#{variables.$primevue-prefix}-focus {
    background: map.get(lightTheme.$light-theme, 'layer-01');
}
.#{variables.$primevue-prefix}-dropdown-panel
    .#{variables.$primevue-prefix}-dropdown-items
    .#{variables.$primevue-prefix}-dropdown-item:not(
        .#{variables.$primevue-prefix}-highlight
    ):not(
        .#{variables.$primevue-prefix}-disabled
    ).#{variables.$primevue-prefix}-focus:hover {
    background: map.get(lightTheme.$light-theme, 'layer-hover-01');
}

/* ---------------------------------- checkbox -------------------------------- */
.#{variables.$primevue-prefix}-checkbox
    .#{variables.$primevue-prefix}-checkbox-box {
    border: 1px solid map.get(lightTheme.$light-theme, 'icon-primary');
    border-radius: 2px;
}
.#{variables.$primevue-prefix}-checkbox:not(
        .#{variables.$primevue-prefix}-checkbox-disabled
    )
    .#{variables.$primevue-prefix}-checkbox-box:hover {
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-checkbox:not(
        .#{variables.$primevue-prefix}-checkbox-disabled
    )
    .#{variables.$primevue-prefix}-checkbox-box.#{variables.$primevue-prefix}-focus {
    box-shadow: 0 0 0 2px map.get(lightTheme.$light-theme, 'background'),
        0 0 0 4px map.get(lightTheme.$light-theme, 'focus'), 0 1px 2px 0 black;
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-checkbox
    .#{variables.$primevue-prefix}-checkbox-box.#{variables.$primevue-prefix}-highlight,
.#{variables.$primevue-prefix}-checkbox:not(
        .#{variables.$primevue-prefix}-checkbox-disabled
    )
    .#{variables.$primevue-prefix}-checkbox-box.#{variables.$primevue-prefix}-highlight:hover {
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
    background: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-checkbox
    .#{variables.$primevue-prefix}-checkbox-box.#{variables.$primevue-prefix}-highlight
    .#{variables.$primevue-prefix}-checkbox-icon.pi-check {
    font-size: 12px;
}

/* ------------------------------------ primevue radio--------------------------------- */
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box {
    border: 1px solid map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box:not(
        .#{variables.$primevue-prefix}-disabled
    ):not(.#{variables.$primevue-prefix}-highlight):hover {
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box:not(
        .#{variables.$primevue-prefix}-disabled
    ).#{variables.$primevue-prefix}-focus {
    box-shadow: 0 0 0 2px map.get(lightTheme.$light-theme, 'background'),
        0 0 0 4px map.get(lightTheme.$light-theme, 'focus'), 0 1px 2px 0 black;
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box
    .#{variables.$primevue-prefix}-radiobutton-icon {
    background-color: map.get(lightTheme.$light-theme, 'icon-primary');
}
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box.#{variables.$primevue-prefix}-highlight {
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
    background: map.get(lightTheme.$light-theme, 'background');
}
.#{variables.$primevue-prefix}-radiobutton
    .#{variables.$primevue-prefix}-radiobutton-box.#{variables.$primevue-prefix}-highlight:not(
        .#{variables.$primevue-prefix}-disabled
    ):hover {
    border-color: map.get(lightTheme.$light-theme, 'icon-primary');
    background: map.get(lightTheme.$light-theme, 'background');
}

/* ------------------------------------ primevue card--------------------------------- */
.#{variables.$primevue-prefix}-card {
    box-shadow: none;
    border: 1px solid map.get(lightTheme.$light-theme, 'border-subtle-00');
    padding: 32px;
}
.#{variables.$primevue-prefix}-card .#{variables.$primevue-prefix}-card-body {
    padding: 32px;
}

.#{variables.$primevue-prefix}-card
    .#{variables.$primevue-prefix}-card-content {
    padding: 0;
    margin: 0;
}

.#{variables.$primevue-prefix}-card .#{variables.$primevue-prefix}-card-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.#{variables.$primevue-prefix}-card
    .#{variables.$primevue-prefix}-card-subtitle {
    @extend %body-compact-01;
    color: map.get(lightTheme.$light-theme, 'text-secondary');
}

.#{variables.$primevue-prefix}-card .#{variables.$primevue-prefix}-card-footer {
    padding: 0;
}
/* ------------------------------------ primevue table --------------------------------- */
.#{variables.$primevue-prefix}-datatable
    .#{variables.$primevue-prefix}-datatable-thead
    > tr
    > th {
    @extend %body-compact-01;
    background: map.get(lightTheme.$light-theme, 'layer-accent-hover-01');
    height: 32px;
    padding: 0 1rem;
    font-weight: 700;

    text-align: left;
    border: none;
}
.#{variables.$primevue-prefix}-datatable
    .#{variables.$primevue-prefix}-datatable-tbody
    > tr
    > td {
    @extend %body-compact-01;
    text-align: left;
    box-shadow: 0px 1px 0px 0px
        map.get(lightTheme.$light-theme, 'border-subtle-01') inset;
    padding: 0 1rem;
    border: none;
    background: map.get(lightTheme.$light-theme, 'layer-02');
}
