@use '../design-tokens/type-family.scss' as font-family;

$body-compact-01: (
    font-size: 14px,
    font-weight: font-family.font-weight('regular'),
    line-height: 1.28572,
    letter-spacing: 0.16px,
) !default;
