@use 'sass:string';

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-Regular_2f.woff')
            format('woff'),
        url('../assets/font/BCSans-Regular_2f.woff2')
            format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-Italic_2f.woff')
            format('woff'),
        url('../assets/font/BCSans-Italic_2f.woff2')
            format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-Bold_2f.woff')
            format('woff'),
        url('../assets/font/BCSans-Bold_2f.woff2')
            format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-BoldItalic_2f.woff')
            format('woff'),
        url('../assets/font/BCSans-BoldItalic_2f.woff2')
            format('woff2');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-Light_2g.woff')
            format('woff'),
        url('../assets/font/BCSans-Light_2g.woff2')
            format('woff2');
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: 'BC Sans';
    src: url('../assets/font/BCSans-LightItalic_2f.woff')
            format('woff'),
        url('../assets/font/BCSans-LightItalic_2f.woff2')
            format('woff2');
    font-style: italic;
    font-weight: light;
}


$type-family: (
    'mono':
        string.unquote(
            "'IBM Plex Mono', system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', monospace"
        ),
    'sans':
        string.unquote(
            "'BC Sans', 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif"
        ),
);

// Light and regular used to have the same value because we don't have a light value
// for font-weight, bc sans 2 has a light font now so we can differentiate them
$font-weights: (
    'light': 300,
    'regular': 400,
    'bold': 700,
);

/// Retrieve the font-weight value for a given name
/// @param {String} $weight
/// @return {Number}
/// @access public
/// @group @carbon/type
@function font-weight($weight) {
    @return map-get($font-weights, $weight);
}
