// This file have the purpose to register all variables that
// will be used over other style files

// This is the prefix for all the carbon components when
// they are generated (used in SPAR, CLIENT, SILVA)
$bcgov-prefix: 'bx';
$primevue-prefix: 'p';
// From @bcgov-nr/nr-theme v1.9.1, 
// we will use the default carbon prefix with the new stylesheet style-sheets/overrides.scss
$default-prefix: 'cds';
